*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    width: 100%;
}
.sidebar {
    top: 0;
    left: 0;
    position: fixed;
    height: 100%;
    width: 150px;
    background-color: #0D28A6;
}
.sidebar .rectangle {
    position: absolute;
    left: 50%;
    top: 25px;
    padding: 15px;
    transform: translate(-50%, -50%);
    width: 30px;
    height: 30px;
    background: #E5E5E5;
}

.sidebar .logo-details {
    height: 40px;
    width: 100%;
    display: flex;
    align-items: center;
}
.sidebar .nav-links {
    margin-top: 35px;
    padding: 10px;
}

.sidebar .nav-links li {
    height: 70px;
    width: 100%;
    text-align: center;
    list-style: none;
}

.sidebar .nav-links li a{
    height: 50px;
    position: relative;
    margin: 0 5px;
    display: flex;
    align-items: center;
    width: 100%;
    text-decoration: none;
    line-height: 50px;
    transition: all 0.4s ease;
}
.sidebar .nav-links li a:hover {
    background-color: rgba(255, 255, 255, 0.3);
    color: black;
}

.sidebar .nav-links li a i {
    min-width: 60px;
    color: #fff;
    font-size: 25px;
}
.sidebar .nav-links li a .link-isi {
    color: #fff;
    font-size: 12px;
    font-weight: 400;
    /* text-align: center; */
}

/* .home-section {
    position: absolute;
    margin-left: 150px;
    min-height: 100vh;
    background: black;
} */

.home-section nav {
    height: 80px;
    background: #fff;
    /* padding: 0 20px; */
    display: flex;
    align-items: center;
}

.persegi-panjang {
    position: relative;
    left: 40px;
    text-align: center;
    width: 110px;
    height: 40px;
    background: #E5E5E5;
}


.nav-button{
    position: absolute;
    color: black;
    font-size: 24px;
    font-weight: 400;
    display: flex;
    left: 250px;
    align-items: center;
}

.search-box {
    position: relative;
    width: 300px;
    height: 42px;
    border: 4px solid grey;
    /* padding: 0px 10px; */
}
.isi-box {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;

}

input[type="text"] {
    border: none;
    height: 30px;
    width: 195px;
    padding-left: 15px;
}

.isi-box i {
    width: 22px;
    text-align: center;
    color: black;
}

input[type="submit"] {
    border: 1px solid rgb(18, 79, 245);
    height: 40px;
    width: 72px;
    position: relative;
    /* outline: none; */
    cursor: pointer;
    background-color: #fff;
}

.profile-details {
    position: relative;
    height: 40px;
    width: 200px;
    padding-top: 0;
    padding-left: 23px;
    /* padding: 10px; */
    white-space: nowrap;
}
/* .profile-details i {
    width: 20px;
    position: absolute;
    margin-left: 1px;
    margin-top: 1px;
    height: 30px;
    font-size: 25px;
} */
.icon-down {
    font-size: 30px;
    position: absolute;
    top: 3px;
    left: 150px;
}
.profile-circle {
    position: absolute;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #E5E5E5;
    text-align: center;
    padding-top: 10px;
    font-style: bold;
    font-size: 15px;
}
.font-admin {
    font-size: 14px;
    font-style: bold;
    padding-top: 10px;
    text-align: center;
}

.text-menu {
    font-size: 16px;
    color: grey;
    padding-right: 200px;
    padding-top: 33px;
}

.isi-menu {
    top: 70px;
    position: absolute;
}

.isi-menu li a{
    text-decoration: none;
    color: black;
    font-size: 16px;
    font-style: bold;
    font-weight: 500;
    
}

.sub-menu ul{
    display: none;
    margin-top: 10px;
    min-height: 100vh;
    width: 220px;
    left: 150px;
    position: fixed;
    background-color: #fff;
}

.sub-menu ul.active {
    display: block;
}

.sub-menu li a{
    height: 50px;
    position: absolute;
    margin: 0 5px;
    display: flex;
    align-items: center;
    width: 180px;
    text-decoration: none;
    line-height: 50px;
    transition: all 0.4s ease;
    margin-left: 1px;
}
ul {
    list-style: none;
}
.sub-menu li a:hover {
    background-color: rgba(66, 97, 218, 0.3);
    color: black;
}

.btn-regis {
    display: inline-block;
    background-color: rgb(8, 8, 167);
    height: 50px;
    width: 200px;
    margin-right: 30px;
    text-decoration: none;
    border: none;
    font-size: 16px;
    
}
.content a {
    padding-top: 10px;
    color: #fff;
    text-align: center;
    font-size: 17px;
}
.btn-regis:hover {
    color: black;
}

.list-item {
    background-color: rgb(226, 220, 220);
    width: 62.2rem;
    margin-left: 370px;
    top: 100px;
}
.text-list h1 {
    color: black;
    font-size: 15px;
}
.content button {
    color: white;
    font-size: 12px;
    width: 100px;
    height: 40px;
    padding: 1px;
}
.button-list {
    padding: 10px;
    margin-left: 20px;
}
.button-isi {
    padding: 10px;
    background-color: #fff;
    font-size: 11px;
    width: 80px;
    border-radius: 5px;
    color: rgb(56, 56, 223);
}
.button-isi:hover {
    color: rgb(2, 2, 53);
    background-color:#0D28A6;
    border-color: rgb(14, 14, 196);
}
.addcar {
    position: relative;
    margin-left: 40px;
    padding: 20px;
}

.icon {
    position: absolute;
    left: 0;
    margin-left: 65rem;
    margin-top: 17.2rem;
    top: 0;
    font-size: 20px;
}
.addcar {
    margin-left: 100px;
    padding: 40px;
}
.car-isi {
    padding: 20px;
}
#cars-container {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-column-gap: 10px;
    padding: 10px;
}
.card-title  {
    font-size: 18px;
    font-family: bold;
    padding: 5px;
    color: black;

}

.card-text  {
    font-size: 18px;
    font-family: bold;
    padding: 5px;
    color: black;
}

.text-up {
    font-size: 13px;
    color: rgb(187, 185, 185);
}
.modal-container {
    z-index: 9999;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.131);
    display: none;
    align-items: center;
    justify-content: center;
}

.modal-open {
    display: flex;
}
.modal {
    max-width: 700px;
    max-height: 400px;
    background-color: #fff;
    border-radius: 3px;
}

.modal-button {
    text-transform: uppercase;
    padding: 0.5em 1em;
    border: none;
    color: white;
    background-color: blue;
    border-radius: 3px;
    margin-left: 0.5em;
}

.modal-confirm-button {
    background-color: blue;
}
.modal-header {
    background-color: rgba(0, 0, 0, 0.131);
}
.modal-header h2 {
    margin: 1em;
}
.modal-content {
    padding: 1em;
}

.modal-footer {
    padding: 1em;
    background-color: rgba(0, 0, 0, 0.131);
    display: flex;
    justify-content: flex-end;
}

.border-box input {
    border: 1px solid black;
    width: 100%;
    height: 40px;
}

.border-box select {
    border: 1px solid black;
    width: 100%;
    height: 40px;
}