<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- link icon -->
    <link href='https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css' rel='stylesheet'>
    <!-- link CSS -->
    <link rel="stylesheet" href="/style.css">
    <!-- <link rel="stylesheet" href="custom.js"> -->
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" >
    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
    <title> Cars</title>
  </head>
  <body>
    <!-- HOME CONTENT -->
    <section class="home-section">
      <nav class="navbar navbar-light bg-light shadow-sm">
        <div class="logo-details">
          <div class="persegi-panjang"></div>
        </div>
        <div class="nav-button">
          <i class='bx bx-menu' id="btn"></i>
        </div>
        <div class="isi-content d-flex">
          <form class="d-flex">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-primary" type="submit">Search</button>
          </form>
          <div class="profile-details">
            <h3 class="profile-circle">U</h3>
            <h6 class="font-admin">Unis Badri</h6>
            <i class='bx bx-chevron-down icon-down'></i>
          </div>
        </div>
      </nav>
      <!-- <div class="sub-menu">
        <ul id="list" class="isi-menu">
          <h5 class="text-menu">CARS</h5>
          <li><a class="cars-btn" href="#">List Cars</a></li>
        </ul>
      </div> -->
      <!-- PRODUCT CONTENT START -->
      <!-- <div class="home content">
        coba
      </div> -->
      <!-- PRODUCT CONTENT END -->
    </section>
    <!-- HOME CONTENT END -->

    <!-- <section class="isi-menu">
      <div class="sidebar-menu">
          <h5 class="text-menu">CARS</h5>
      </div>

    </section> -->