<nav class="sidebar">
    <div class="logo-details">
      <div class="rectangle"></div>
    </div>
    <ul class="nav-links"> 
      <li>
          <a href="#">
              <i class='bx bx-home-alt'></i>
              <span class="link-isi">Dashboard</span>
          </a>
          <a href="#" class="cars-btn">
            <i class='bx bxs-truck'></i>
            <span class="link-isi">Cars</span>
          </a>
      </li>
    </ul>
</nav>