<%- include ('layouts/header') %> 
<%- include ('layouts/nav') %> 
<%- include ('layouts/submenu') %> 

<section class="list-item">
  <nav class="navbar navbar-expand-lg navbar-dark p-md-3">
    <div class="container">
      <h4 class="text-list">List Cars</h4>
    </div>
    <div class="content d-flex">
      <!-- <button class="nav-link btn-regis"><i class='bx bx-plus'></i>Add New Car</button> -->
      <a class="nav-link btn-regis" href="/cars/addnewcar"><i class='bx bx-plus'></i>Add New Car</a>
    </div>
  </nav>
  <div class="button-list">
    <button class="button-isi btn btn-outline-primary">All</button>
    <button class="button-isi btn btn-outline-primary">Small</button>
    <button class="button-isi btn btn-outline-primary">Medium</button>
    <button class="button-isi btn btn-outline-primary">Large</button>
  </div>

  <div id="cars-container">
    <div class="row">
      <% car.forEach(function(cars) { %>
      <div class="col-4">
        <div class="card">
          <img src="<%= cars.foto %>" class="card-img-top" alt="image">
          <div class="card-body">
            <span class="card-title"><%= cars.name %></span>
            <p class="card-text"><%= cars.sewa %></p>
            <span class="text-up"><i class='bx bx-time'></i> Update at <%= cars.updated_at %></span><br>
            <br>
            <a href="/cars/delete/<%= cars.id%>" class="btn btn-outline-danger" onclick="onDelete()">Delete</a>
            <a href="/cars/edit/<%= cars.id %>" class="btn btn-outline-primary">Edit</a>
          </div>
        </div>
      </div>
      <% }) %> 
    </div>
  </div>
</section>
<%- include ('layouts/footer') %> 

