<%- include ('layouts/header') %> 
<%- include ('layouts/nav') %> 
<%- include ('layouts/submenu') %> 

<section class="addcar">
    <div class="container">
        <div class="card car-isi">
            <h3><strong>Edit Car</strong></h3>
            <!-- <a href="/cars">Show All Data</a> -->
            <div class="card-body">
                <form method= "post" action="/cars/edit/<%= cars.id %> " >
                    <div class="row g-3">
                        <div class="col-sm-4">
                          <label for="name" class="col-form-label">Nama</label>
                        </div>
                        <div class="col-sm-8 border-box">
                          <input type="text"class="form-control" name="name" value="<%= cars.name %>" placeholder="Avanza">
                        </div>
                    </div>
                    <br>
                    <div class="row g-3">
                      <div class="col-sm-4">
                        <label for="sewa" class="form-label">Sewa Per Hari</label>
                      </div>
                      <div class="col-sm-8 border-box">
                        <input type="text" class="form-control" name="sewa" value="<%= cars.sewa %>" placeholder="Rp.0">
                      </div>
                    </div>
                    <br>
                    <div class="row g-3">
                      <div class="col-sm-4 border-box">
                        <label type="text" for="ukuran" class="form-label">Ukuran</label>
                      </div>
                      <div class="col-sm-8 border-box">
                        <select class="form-select" name="ukuran" id="ukuran">
                          <option value="small"<%= cars.ukuran === 'small' ? 'selected' : '' %> >Small</option>
                          <option value="medium"<%= cars.ukuran === 'medium' ? 'selected' : '' %> >Medium</option>
                          <option value="large"<%= cars.ukuran === 'large' ? 'selected' : '' %> >Large</option>
                      </select>
                      </div>
                    </div>
                    <br>
                    <div class="row g-3">
                      <div class="col-sm-4">
                        <label type="text" for="foto" class="form-label">Foto</label>
                      </div>
                      <div class="col-sm-8 border-box">
                        <input type="text" class="form-control" name="foto" value="<%= cars.foto %>" placeholder="https://placeimg.com/640/480/any"required>
                        <span class="icon"><i class='bx bx-download'></i></span>
                        <span class="form-text">File size max.2MB</span>
                      </div>
                    </div>      
                    <!-- <a href="/cars">Submit</a> -->
                    <button type="submit" class="btn btn-primary">Submit</button>
                  </form>
            </div>
        </div>
    </div>
</section>

<%- include ('layouts/footer') %> 
