<%- include ('layouts/header') %> 
<%- include ('layouts/nav') %> 
<%- include ('layouts/submenu') %> 

<section class="list-item">
  <nav class="navbar navbar-expand-lg navbar-dark p-md-3">
    <div class="container">
      <h4 class="text-list">List Cars</h4>
    </div>
    <div class="content d-flex">
      <!-- <button class="nav-link btn-regis"><i class='bx bx-plus'></i>Add New Car</button> -->
      <a class="nav-link btn-regis" href="/addnewcar"><i class='bx bx-plus'></i>Add New Car</a>
    </div>
  </nav>
  <div class="button-list">
    <button class="button-isi btn btn-outline-primary">All</button>
    <button class="button-isi btn btn-outline-primary">Small</button>
    <button class="button-isi btn btn-outline-primary">Medium</button>
    <button class="button-isi btn btn-outline-primary">Large</button>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-4">
        <div class="card">
          <img src="pictcar.jpg" class="card-img-top" alt="image">
          <div class="card-body">
            <span class="card-title">Nama/Tipe Mobil</span>
            <p class="card-text">Rp.430.000/hari</p>
            <span><i class='bx bx-time'></i> Update at 4 Apr 2022. 09.00</span>
            <a href="#" class="btn btn-outline-danger">Delete</a>
            <!-- <a href="#" class="btn-primary">Edit</a> -->
          </div>
        </div>
      </div>
      <div class="col-4">
        <div class="card">
          <img src="pictcar.jpg" class="card-img-top" alt="image">
          <div class="card-body">
            <span class="card-title">Nama/Tipe Mobil</span>
            <p class="card-text">Rp.430.000/hari</p>
            <span><i class='bx bx-time'></i> Update at 4 Apr 2022. 09.00</span>
            <a href="#" class="btn btn-outline-danger">Delete</a>
          </div>
        </div>
      </div>
      <div class="col-4">
        <div class="card">
          <img src="pictcar.jpg" class="card-img-top" alt="image">
          <div class="card-body">
            <span class="card-title">Nama/Tipe Mobil</span>
            <p class="card-text">Rp.430.000/hari</p>
            <span><i class='bx bx-time'></i> Update at 4 Apr 2022. 09.00</span>
            <a href="#" class="btn btn-outline-danger">Delete</a>
          </div>
      </div>
    </div>
  </div>
</section>

<!-- <section class="card-mobil">
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <div class="card" style="width: 18rem;">
          <img src="../asset/img/pict1.jpg" class="card-img-top" alt="image">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section> -->

<%- include ('layouts/footer') %> 

