*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    width: 100%;
}
.sidebar {
    top: 0;
    left: 0;
    position: fixed;
    height: 100%;
    width: 150px;
    background-color: #0D28A6;
}
.sidebar .rectangle {
    position: absolute;
    left: 50%;
    top: 25px;
    padding: 15px;
    transform: translate(-50%, -50%);
    width: 30px;
    height: 30px;
    background: #E5E5E5;
}

.sidebar .logo-details {
    height: 40px;
    width: 100%;
    display: flex;
    align-items: center;
}
.sidebar .nav-links {
    margin-top: 35px;
    padding: 10px;
}

.sidebar .nav-links li {
    height: 70px;
    width: 100%;
    text-align: center;
    list-style: none;
}

.sidebar .nav-links li a{
    height: 50px;
    position: relative;
    margin: 0 5px;
    display: flex;
    align-items: center;
    width: 100%;
    text-decoration: none;
    line-height: 50px;
    transition: all 0.4s ease;
}
.sidebar .nav-links li a:hover {
    background-color: rgba(255, 255, 255, 0.3);
    color: black;
}

.sidebar .nav-links li a i {
    min-width: 60px;
    color: #fff;
    font-size: 25px;
}
.sidebar .nav-links li a .link-isi {
    color: #fff;
    font-size: 12px;
    font-weight: 400;
    /* text-align: center; */
}

.home-section {
    position: relative;
    margin-left: 150px;
    min-height: 100vh;
    background: #f5f5f5;
}

.home-section nav {
    height: 80px;
    background: #fff;
    /* padding: 0 20px; */
    display: flex;
    align-items: center;
}

.persegi-panjang {
    position: relative;
    left: 40px;
    text-align: center;
    width: 110px;
    height: 40px;
    background: #E5E5E5;
}


.nav-button{
    position: absolute;
    color: black;
    font-size: 24px;
    font-weight: 400;
    display: flex;
    left: 250px;
    align-items: center;
}

.search-box {
    position: relative;
    width: 300px;
    height: 42px;
    border: 4px solid grey;
    /* padding: 0px 10px; */
}
.isi-box {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;

}

input[type="text"] {
    border: none;
    height: 30px;
    width: 195px;
    padding-left: 15px;
}

.isi-box i {
    width: 22px;
    text-align: center;
    color: black;
}

input[type="submit"] {
    border: 1px solid rgb(18, 79, 245);
    height: 40px;
    width: 72px;
    position: relative;
    /* outline: none; */
    cursor: pointer;
    background-color: #fff;
}

.profile-details {
    position: relative;
    height: 40px;
    width: 200px;
    padding-top: 0;
    padding-left: 23px;
    /* padding: 10px; */
    white-space: nowrap;
}
.profile-details i {
    width: 20px;
    position: relative;
    display: inline-block;
    margin-left: 1px;
    height: 30px;
    background-color: hotpink;
    font-size: 25px;
}
/* .icon-down {
    font-size: 30px;
} */
.profile-circle {
    position: absolute;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #E5E5E5;
    text-align: center;
    padding-top: 10px;
    font-style: bold;
    font-size: 15px;
}
.font-admin {
    font-size: 14px;
    font-style: bold;
    padding-top: 10px;
    text-align: center;
}

.text-menu {
    font-size: 16px;
    color: grey;
    padding-right: 200px;
    padding-top: 33px;
}

.isi-menu {
    top: 70px;
    position: absolute;
}

.isi-menu li a{
    text-decoration: none;
    color: black;
    font-size: 16px;
    font-style: bold;
    font-weight: 500;
    
}

.sub-menu ul{
    display: none;
    margin-top: 10px;
    min-height: 100vh;
    width: 220px;
    background-color: #fff;
}

.sub-menu ul.active {
    display: block;
}

.sub-menu li a{
    height: 50px;
    position: absolute;
    margin: 0 5px;
    display: flex;
    align-items: center;
    width: 180px;
    text-decoration: none;
    line-height: 50px;
    transition: all 0.4s ease;
    margin-left: 1px;
}
ul {
    list-style: none;
}
.sub-menu li a:hover {
    background-color: rgba(66, 97, 218, 0.3);
    color: black;
}